.menu-dropdown {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  position: absolute;
  top: 60px;
  left: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 9;
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

.menu-dropdown li:hover {
  background: #333;
}